cryptography==43.0.1
docopt==0.6.2
easyocr==1.7.1
ffmpeg-python==0.2.0
firebase-admin==6.5.0
gemini-api==0.1.6
google-generativeai==0.8.1
gradio==4.44.0
grpcio-status==1.66.1
importlib-metadata==8.0.0
ipykernel==6.29.5
jaraco.text==3.12.1
langchain==0.3.0
nbconvert==7.16.4
openai-whisper==20231117
pip-chill==1.0.3
pymupdf==1.24.10
python-docx==1.1.2
python-dotenv==1.0.1
sentence-transformers==3.0.1
soundfile==0.12.1
spacy==3.7.6
tomli==2.0.1
torchaudio==2.4.1+cu124
yarg==0.1.9
